*{
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #efcc31;
}
::-moz-selection { /* Code for Firefox */
    color: #ac1d07;
    background: #efcc31;
}

::selection {
    color: #ac1d07;
    background: #efcc31;
}
body, html {
    height: 100%;
    overflow-x: hidden;
}
.bg{
    height: 100%;
    width:auto;
    opacity: 1; 
}
.bgEvents{
    background-color:black;
    height: 100%;
    width:auto;
    opacity: 1; 
}
#bgOverlay{
    
    height: 100%;
}
.topBtn {
    position: -webkit-sticky;
    position: sticky;
    top:80%;
    float: right;
    color: #efcc31;
    z-index: 9999;
    background: linear-gradient(to bottom, transparent, #ac1d07);
}
#topBtn {

    color: #efcc31;
    font-size:16px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    border:0;
    text-decoration: blink;
}
#siteNav {
    /* background: transparent; */
    margin-right:1px;
}
#siteNav span {
    /* background: transparent; */
    height: .5rem;
}
#tel {
    float: right;
    margin-right:3px;
    background: #efcc31;
    color:#ac1d07;
    box-shadow: 2px 0px 10px #444;
    padding: 1rem;
    font-weight: 600;    
}
.intro{
    margin-top:10px;
}
#intro {
    color:rgba(255, 255, 255, 0.678);
    height: auto; 
    border: 0px;
    opacity: 0;
    transform: translateY(0px);
    transition: all 1s  ease-out;

}
#intro>img {
    margin: 0 auto;
}
#intro.fade-in {
    opacity: 1;
    transform: translateY(0);
}
#slogan>h1{
    margin-top:0;
    margin-bottom:20px;
    color: #efcc31;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}
#slogan>h3{
    color: #efcc31;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 10px;
}
#slogan{
    color: #efcc31;
    height: auto;
    background-color: #000000ad;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 2px 0px 10px #efcc31;
    margin: 0 auto;
    position: relative;
    right:0;
}
.dot {
    color:#ac1d07;
    font-weight: bolder;
    font-size: 48px;
}
#sloganBanner{
    height: 40vh;
}
.cateringBtn{
    border-radius: 0;
    border:0;
    background-color: #ac1d07;
    color: #efcc31;
    transition: all .5s ease-out;
    cursor: pointer;
    padding: 7px;
    box-shadow: 2px 0px 10px #ac1d07;
}
.cateringBtn:hover{
    border-radius: 0;
    border:0;
    background-color: #efcc31;
    text-decoration: none;
    color: #ac1d07;
    transition: all .5s ease-out;
    cursor: pointer;
    box-shadow: 2px 0px 10px #efcc31;
}
.franBtn{
    border-radius: 0;
    border:0;
    background-color: #ac1d07;
    color: #efcc31;
    transition: all .5s ease-out;
    cursor: pointer;
    padding: 7px;
    box-shadow: 2px 0px 10px #ac1d07;
}
.franBtn:hover{
    border-radius: 0;
    border:0;
    background-color: #efcc31;
    text-decoration: none;
    color: #ac1d07;
    transition: all .5s ease-out;
    cursor: pointer;
    box-shadow: 2px 0px 10px #efcc31;
}
.modal-content{
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 2px 0px 10px #efcc31;
    color: #ac1d07;
    border:0px;
}
.modal-body input{
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 2px 0px 10px #efcc31;
    color: #ac1d07;
    border:0px;
    border-radius:0;
}
textarea {
    width: 100%;
    height: 170px;
}
.modal-header, .close {
    background-color: #ac1d07;
    color:#efcc31 !important;
    text-align: center;
    font-size: 30px;
    border:0px;
    border-style: none;
}
.modal-footer {
    background-color: #ac1d07;
    border:0px;
    border-style: none; 
}
.modal-body, .modal-body>form>input {
    background-color: #efcc31;
    border-radius: 0;
    
}
#footerLogo {
    width:50%;
    height: auto;
}
.footerLogo a:hover {
    width:50%;
    height: auto;
    background: transparent;
}
#siteCredits {
    margin: 0 5px;
    background-color:transparent;
    width:15px;
    height: auto;
    box-shadow: 2px 0px 10px #0000;
    transition: all 1s ease-out;
}
#siteCredits:hover {
    background-color:transparent;
    box-shadow: 2px 0px 10px #efcc31;
    width:15px;
    height: auto;
}
a {
    color:#fded00;
    background-color: transparent;
}
a>i {
    color:#fded00;
    background-color: transparent;
    font-size:3.5em;
}
a>i:hover {
    color:#ac1d07;
    background-color: transparent;
    font-size:3.5em;
}
.hr {
    height: 5px;
    background: #ac1d07;
}
.hr.menu {
    height: 5px;
    background: rgba(255, 255, 255, 0.267);
}

#aboutUs {
    background: transparent;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s  ease-out;
}
#aboutUs.fade-in {
    background: transparent;
    opacity: 1;
    transform: translateY(0);
}
#aboutUs.fade-in>div>h1 {
    font-family: 'Work Sans', sans-serif;
    background: transparent;
    font-size: 72px;
    color: #efcc31;
    margin-bottom: 0;
    width: 50%;
    position: relative;
    bottom: -16px;
    left: 10px;
    text-shadow: 2px 0px 10px #ac1d07;
}

#aboutUsHeader {
    color:#ac1d07;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;

}
#aboutUsContent {
    background: #efcc31;
    box-shadow: 2px 0px 10px #efcc31;


}
#aboutUsP {
    color:#444;
    font-family: 'Marvel', sans-serif;
    font-size:20px;
    padding: 15px;
}

#fbFeedHeader{
    color:#ac1d07;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    color: #efcc31;
    width: auto;
}

#fbFeed {
    width:300px;
}
#loyalty>div {
    background: linear-gradient(to bottom, transparent, black);
}

#loyalty h1 {
    font-family:'Poriet One',serif;
    color:#efcc31;
    background: #000000;
    height: 100%;
    font-family: 'Montserrat', 'san-serifs';
}

#loyalty form {
    width: 100%;
    margin-top:0;
}
#loyalty input {
    border-radius: 0;
    border-color: #efcc31;
    max-width: 60%;
    margin: 0 auto;
    background: #00000084;
}
#loyalty input:focus {
    border-radius: 0;
    background: whitesmoke;
}
#loyalty button {
    border-radius: 0;
    background-color:#ac1d07;
    width: 100px;
    margin: 5px;
    color: white;
    transition: all .5s ease-out;
}
#loyalty button:hover {
    background-color:#efcc31;
    box-shadow: 0px 0px 10px #efcc31;
    color:black;
}
#menu {
    background: linear-gradient(to bottom, transparent, black);
    color:#efcc31;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s  ease-out;

    /*height: 100px;*/
}

#menu.fade-in {
    background: transparent;
    color:#efcc31;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    opacity: 1;
    transform: translateY(0);

    /*height: 100px;*/
}
#menuHeader {
    background: #ac1d07;
    box-shadow: 2px 0px 10px #00000081;
    font-size: 72px;
}
#menuContent {
    background: #efcc31;
    
}
.menuContent p {
    font-family: 'Marvel', sans-serif;
    background: #efcc31;
    color:#444;
    font-size: 20px;
    padding:15px;
}
.menuItems {
    background: #efcc31;
    color: #ac1d07;
    font-weight: bolder;
}
.chkItems {

    padding-bottom:10px;
    background: #efcc31;
    color: #ac1d07;
    font-weight: bolder;
    
    /*background-image: url('../images/entrees/chkQuesadilla.jpg');
    background-repeat:no-repeat;
    background-size: cover;*/
}
.bfItems {

    padding-bottom:10px;
    background: #efcc31;
    color: #ac1d07;
    font-weight: bolder;
    
    /*background-image: url('../images/entrees/chkQuesadilla.jpg');
    background-repeat:no-repeat;
    background-size: cover;*/
}
.thumbnail {
    background-color: transparent;
    border-color:transparent;
    box-shadow: 2px 0px 10px #ac1d078e;

}
.category {
    text-align: left;
    background:#ac1d07;
    color:#efcc31;
}
.sideItems {

    padding-bottom:10px;
    background: #efcc31;
    color: #ac1d07;
    font-weight: bolder;
    
    /*background-image: url('../images/entrees/chkQuesadilla.jpg');
    background-repeat:no-repeat;
    background-size: cover;*/
}
#caterButton {
    background: #ac1d07;
    border-radius: 50%;
    padding: 10px;
    color: #efcc31;
    box-shadow: 2px 0px 10px #00000081;
    cursor: pointer;

}
#caterButton>small {
    background: transparent;
    color: #ac1d07;
}
.menuEditBtn {
    border: none;
    background: transparent;
    
}
.menuEditBtn:hover{
    color:#efcc31;
    text-shadow: 2px 0px 10px black;
}
.eventsIntro>div>img {
    margin: 50px auto;

}
#events div{
    height: auto;
    background: black;
    color:#efcc31;
}
#menu input {
    width:50px;
    background:transparent;
    color:#ac1d07;
}
#eventsHeader>h1 {
    background: transparent;
    color: #efcc31;
    height: 100%;
    font-weight: 900;
    font-size: 96px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 0px 10px black;

}
#eventsHeader {
    background: linear-gradient(to bottom, transparent, black);
    color:#efcc31;
    height: 100%;
    font-weight: 900;
    font-size: 96px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 0px 10px black;

}
.eventsHeader>div {
    background: linear-gradient(to bottom, transparent, black);
}
.eventsP{
    color:#efcc31;
    background: black;
    font-size: 20px;
    padding-bottom: 0;
    margin: 0 auto;
    font-family: 'Marvel', sans-serif;
}
h3.eventsHeader {
    background: linear-gradient(to bottom, transparent, black);
    color:#ac1d07;
    height: 100%;
    font-weight: 900;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
}
.eventsMonth h3 {
    color:#efcc31;
    text-align: center;
}
video {
    opacity: 1;
    width:90%;
    height: auto;
    box-shadow: 2px 0px 10px #efcc31;
    margin-top:15px;
}
#pastEvents {
    height: 100%;;
}
#upcomingEvents {
    height: 100%;
    overflow-x: scroll;
    background: black;
}
#fbFeed{
    position: relative;
    top:5rem;
    margin-bottom:5rem;
    background:#ac1d07;
    box-shadow: 2px 0px 10px #ac1d07;
}
.fbFeed>h1{
    background: #ac1d07;
    color:#efcc31;
}
.fbFeed{

    background:#ac1d07;
    height: auto;
    width: auto;
    display: block;
    padding:5px;
    margin: 0 auto;
}
a#fbLogo {
    display: block;
    color: rgba(255,255,255,0.3);
    font-size: 15px;
    width: 100px;
    height: 100px;
    line-height: 50px;
    text-align: center;
    background: rgba(0,0,0,0.2);
    border-radius: 50%;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
a#fbLogo:hover {
    background-color: #efcc31;
    color:#ac1d07;
}
a#viewMore {
    color:#efcc31;
    text-decoration: none;
    font-weight: bold;
}
a#viewMore:hover {
    color:#ac1d07;
    text-decoration: none;
    background:#efcc31;
    font-weight: bold;
}
.fab{
    display: inline-block;
    padding:25px;
}
footer {
    background:#ac1d07;
    color:#efcc31;
    font-family: 'Montserrat', sans-serif;
}
.copyrightText{
    background-color: transparent;
    margin-top: 40px;
    font-weight: bold;
    color: black;
}
.copyright{
    background-color: rgba(0,0,0,0.2);
    margin-top:5px;
}
#contactUs p {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Marvel', sans-serif;
    color:black;
}
#contactUs i {
    width: 100px;
    height: auto;
}
#contactInfo a {
    color: #efcc31;
}
#contactInfo a:hover {
    color: #ac1d07;
    background:#efcc31;
    text-decoration: blink;
}
#contactInfo {
    padding-top: 10px;
}
#successMsg {
    color: white;
    font-weight: bold;
}
#locations {
    cursor: pointer;
}
#locations>option:focus {
    cursor: pointer;
    color: #efcc31;
    background-color:#ac1d07;
}
#locations, option {
    color: #efcc31;
    background-color:#ac1d07;
}
.navbar-default .navbar-nav>li>a{
    margin-right:10px;
    color:#fded00;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    
}
.navbar-default .navbar-nav>li>a:hover{
    margin-right:10px;
    color:#fded00;
    background:#ac1d07;
    font-weight: 700;  
}
.navbar-right {
    margin: 0;
    background: #ac1d07b1;
    /*position: absolute;
    right:0;
    top: 0;*/
}
.active>a{
    box-shadow: 2px 0px 10px #0000003e;
    font-weight: 700;
}
navBar.navbar-toggle {
    background: transparent;
    border: 0px;
    border-radius: 0px;
}
.navbar-toggle:hover {
    background-color: transparent;
    border-radius: 0px;
    border:0px;
}
.navbar-header {
    background-color: rgba(0, 0, 0, 0.667);
    
}
.navbar-brand {
    position: absolute;
    left: 30px;
    height: auto;
    overflow: hidden;
    border: 0px;
    border-color: rgba(255, 255, 255, 0.137);

}
.navbar-default .navbar-brand {
    color: #fded00;
    width: auto;
    padding: 0;
}
.navbar-default .navbar-brand:hover {
    color: #ac1d07;
}
a.navbar-brand {
    background-color:transparent;
}
a.navbar-brand:visited {
    background-color: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fded00;
    background-color: #ac1d07;

}
/*MQs*/
@media (min-width:767px) {
    #telCollapsed {
        float: right;
        margin-right:3px;
        background: #efcc31;
        color:#ac1d07;
        box-shadow: 2px 0px 10px #444;
        padding: 1rem;
        font-weight: 600;
        display: none;    
    } 
}
@media (max-width: 1300px) {
    #intro>img {
        margin: 50px auto;
        transition: all 1s ease-out;
    }
    #sloganBanner{
        height: 20vh;
    }
}
@media (max-width: 767px) { 
    #tel {
        float: right;
        margin-right:3px;
        background: #efcc31;
        color:#ac1d07;
        box-shadow: 2px 0px 10px #444;
        padding: 1rem;
        font-weight: 600; 
        display:none;   
    } 
    #telCollapsed {
        float: right;
        margin-right:3px;
        background: #efcc31;
        color:#ac1d07;
        box-shadow: 2px 0px 10px #444;
        padding: 1rem;
        font-weight: 600;
        display: block;    
    }  
    #slogan>h3{
        color: #efcc31;
        font-weight: bolder;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1px;
    }
    #aboutUs>div>h1 {
        font-family: 'Work Sans', sans-serif;
        background: transparent;
        font-size: 72px;
        color: #efcc31;
        margin-bottom: 0;
        width: 50%;
        position: relative;
        bottom: -36px;
        left: 10px;
        text-shadow: 2px 0px 10px #ac1d07;
    }
    #aboutUs.fade-in>div>h1 {
        font-family: 'Work Sans', sans-serif;
        background: transparent;
        font-size: 72px;
        color: #efcc31;
        margin-bottom: 0;
        width: 50%;
        position: relative;
        bottom: -36px;
        left: 10px;
        text-shadow: 2px 0px 10px #ac1d07;
    }
    #fbFeed {
        width:300px;
        margin: 50px auto;
    }
    #fbFeed{
    background:#ac1d07;
    box-shadow: 2px 0px 10px #ac1d07;
    }
    .quickLinks{
        display: none;
    }
    #sloganBanner{
        height: 0vh;
    }
    #slogan {
        font-size: 20px;
        background: #00000081;
        color:#efcc31;
        box-shadow: #ac1d07;
    }
    #intro {
        width:70%;
        margin: 0 auto;
    }
    #intro>img {
        margin: 0 auto;
        transition: all 1s ease-out;
    }
    #menuHeader {
        background: #ac1d07;
        box-shadow: 2px 0px 10px #00000081;
        font-size:60px;
    }
    #loyalty input {
        border-radius: 0;
        border-color: #efcc31;
        max-width: 85%;
        margin: 0 auto;
        background: #00000084;
    }
    #eventsHeader>h1 {
        background: transparent;
        color: #efcc31;
        height: 100%;
        font-weight: 900;
        font-size: 72px;
        font-family: 'Montserrat', sans-serif;
        text-shadow: 2px 0px 10px black;
        text-align: center;
    
    }
    #eventsHeader {
        background: linear-gradient(to bottom, transparent, black);
        color:#efcc31;
        height: 100%;
        font-weight: 900;
        font-size: 72px;
        font-family: 'Montserrat', sans-serif;
        text-shadow: 2px 0px 10px black;
    
    }
    h3.eventsHeader {
        background: linear-gradient(to bottom, transparent, black);
        color:#ac1d07;
        height: 100%;
        font-weight: 900;
        font-size: 36px;
        font-family: 'Montserrat', sans-serif;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: transparent;
    }
    .navbar-fixed-top {

        border:0;
        text-align: right;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #ac1d07;
        height: .3rem;
        width:2.5rem;
    }
    .navbar,.navbar-header {
        background:transparent;
    }
    .navbar-default .navbar-toggle {
        border-color:transparent;
        border:0;
        border-radius:0;
        color: #fded00;
    }
    .nav .navbar-default .navbar-collapse {
        background-color: transparent;
        border: 0;
        border-radius: 0;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: transparent;
        border: 0;
        border-radius: 0;
    }
    .navbar-default .navbar-nav>li>a {
        background: linear-gradient(to right, rgba(255, 255, 255, 0), #ac1d07);
        color:#fded00;
    }
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {       
        background: linear-gradient(to right, rgba(255, 255, 255, 0), #ac1d07);
        color:#fded00;
        border:0;
        box-shadow: transparent;
    }
    .navbar-default .navbar-nav>li>a:hover {
        background: linear-gradient(to right, rgba(255, 255, 255, 0), #ac1d07);
        color:#fded00;
        box-shadow: transparent;
    }
    .footer {
        background: #ac1d07;
        color: #fded00;
        font-family: 'Orbitron', sans-serif;
        font-size: 10px;
    }
}
@media (min-width: 768px) {
    .navbar {
        background-color: transparent;
        border: 0;
        border-radius: 0;
    }
}